html,body {
    padding:0;
    margin:0;
    height:100%;
}

body {
    width:100%;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQImWNgYGA4g4b/M2AROMOARQAu+B9d5X90IwAw1xVScR1jOgAAAABJRU5ErkJggg==);
    background-repeat: repeat;
}

.row-library-hand {height:7%;}
.row-zone-battlefield {height:43%;}
.library, .graveyard, .exile, .hand, .battlefield  {height:100%;float:left;}
.library, .graveyard, .exile  {width:100px;}
.hand  {width:calc(100% - 300px);}
.battlefield {width:100%;}