{% extends 'admin.html.twig' %}

{% block title %}
    New wishlist
{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200"><i class="fas fa-heart"></i> New wishlist</h1>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('planeswalkers.wishlist.index') }}">My wishlist</a></li>
            <li class="breadcrumb-item active" aria-current="page">New wishlist</li>
        </ol>
    </nav>

    <hr>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text" class="form-control" required>
                </div>
                <hr>
                <div class="input-group">
                    <button class="btn btn-success" type="submit">
                        <i class="far fa-save"></i>&nbsp;Save
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}