{# Draw #}
{% macro script() %}
    <script>
        $(document).on('click', '.hand-card-link, .battlefield-card-link', function () {
            let idScryfall = $(this).data('idsrcyfall');
            displayCardDetails(idScryfall);
        });

        function displayCardDetails(idScryfall){
            $.ajax({
                url: "https://api.scryfall.com/cards/"+idScryfall,
                type: 'get',
                dataType: 'json',
                beforeSend: function(){
                    $('.before-send-loader').hide();
                },
                success: function (data) {
                    $('.before-send-loader').fadeIn();
                    $('#cardDetailsTitre').text(data.name);
                    $('#cardDetailsImg').attr('src', data.image_uris.border_crop);
                    $('#cardDetailsTypeLine').text(data.type_line);
                    $('#cardDetailsOracleText').html(data.oracle_text);
                    $('#cardDetailsEdhrecRank').text(data.edhrec_rank);
                    $('#cardDetailsRelatedUrisGatherer').attr('href', data.related_uris.gatherer);
                    $('#cardDetailsRelatedUrisTcgplayerDecks').attr('href', data.related_uris.tcgplayer_decks);
                    $('#cardDetailsRelatedUrisEdhrec').attr('href', data.related_uris.edhrec);
                    $('#cardDetailsRelatedUrisMtgtop8').attr('href', data.related_uris.mtgtop8);
                    $('#cardDetailsPricesUsd').text(data.prices.usd);
                    $('#cardDetailsPricesEur').text(data.prices.eur);
                    $('#cardDetailsPricesUsdFoil').text(data.prices.usd_foil);
                    $('#cardDetailsPricesEurFoil').text(data.prices.eur_foil);
                    $('#cardDetailsLegalitiesStandard').html(legality(data.legalities.standard));
                    $('#cardDetailsLegalitiesModern').html(legality(data.legalities.modern));
                    $('#cardDetailsLegalitiesLegacy').html(legality(data.legalities.legacy));
                    $('#cardDetailsLegalitiesVintage').html(legality(data.legalities.vintage));
                    $('#cardDetailsLegalitiesPauper').html(legality(data.legalities.pauper));
                    $('#cardDetailsLegalitiesPenny').html(legality(data.legalities.penny));
                    $('#cardDetailsLegalitiesCommander').html(legality(data.legalities.commander));
                    $('#cardDetailsLegalitiesBrawl').html(legality(data.legalities.brawl));
                    $('#cardDetailsLegalitiesDuel').html(legality(data.legalities.duel));
                    $('#cardDetailsLegalitiesFuture').html(legality(data.legalities.future));
                    $('#cardDetailsLegalitiesOldschool').html(legality(data.legalities.oldschool));
                    $('#cardDetailsLegalitiesGladiator').html(legality(data.legalities.gladiator));
                    $('#cardDetailsLegalitiesPremodern').html(legality(data.legalities.premodern));
                    $.each(data.colors, function (index, color) {
                        $('#cardDetailsColors').text(color);
                    });
                    $.each(data.color_identity, function (index, colorId) {
                        $('#cardDetailsIdentity').text(colorId);
                    });
                    displayCardRules(idScryfall);
                }
            });
        }

        function displayCardRules(idScryfall){
            $.ajax({
                url: "https://api.scryfall.com/cards/"+idScryfall+"/rulings",
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    let renderHtml = "";
                    $.each(data.data, function (index, rule) {
                        renderHtml += '<p><small>'+rule.comment+'</small></p>';
                    });
                    $('#cardDetailsRules').html(renderHtml);
                }
            });
        }
    </script>
{% endmacro %}