{% macro script() %}
    <script>
        {# Base du menu contextuel #}
        var menuStyle = document.getElementById("menu-contextual").style;
        if (document.addEventListener) {
            document.addEventListener('click', function(e) {
                menuStyle.opacity = "0";
                setTimeout(function() {
                    menuStyle.visibility = "hidden";
                }, 501);
            }, false);
        }

        {# Affichage et positionnement du menu contextuel #}
        function menuContextualDisplay(e) {
            {# Position du curseur lors du click droit #}
            let x = e.clientX;
            let y = e.clientY;
            {# Cale le menu contextuel sur le bord de l'écran s'il doit sortir #}
            if (e.clientY + $('#menu-contextual').height() > $('body').height()){
                y =  $('body').height() - $('#menu-contextual').height();
            }
            if (e.clientX + $('#menu-contextual').width() > $('body').width()){
                x =  $('body').width() - $('#menu-contextual').width();
            }
            {# Positionnement final du menu contextuel #}
            menuStyle.top = y + "px";
            menuStyle.left = x + "px";
            menuStyle.visibility = "visible";
            menuStyle.opacity = "1";
        }

        {# Rendu d'un lien du menu contextuel #}
        function renderMenuContextualLink(picto, txt, shortcut){
            let result_hmtl = '';
            result_hmtl +=      '<div class="menu-contextual-link-area d-flex">';
            result_hmtl +=           '<div class="menu-contextual-picto-area"><div class="thumb" style="background-image:url('+picto+')"></div></div>';
            result_hmtl +=           '<div class="menu-contextual-txt-area flex-grow-1">'+txt+'</div>';
            if (shortcut !== null){
                result_hmtl +=       '<div><span class="badge badge-secondary">'+shortcut+'</span></div>';
            }
            result_hmtl +=      '</div>';
            return result_hmtl;
        }

        {# Rendu du menu si c'est un clic droit sur la library #}
        $('#player-area').on('contextmenu', '#player-library-top-card', function(e) {
            let player = $(this).data('player');
            renderMenuContextualLibrary(player);
            menuContextualDisplay(e);
            e.preventDefault();
        });

        {# Rendu du menu si c'est un clic droit sur une carte #}
        $('#player-area').on('contextmenu', '.hand-card-link', function(e) {
            let id = $(this).data('id');
            let idscryfall = $(this).data('idsrcyfall');
            let player = $(this).data('player');
            renderMenuContextualHandCard(id, idscryfall, player);
            menuContextualDisplay(e);
            e.preventDefault();
        });

        {# Rendu du menu si c'est un clic droit sur une carte du battlefield #}
        $('#player-area').on('contextmenu', '.battlefield-card-link', function(e) {
            let id = $(this).data('id');
            let idscryfall = $(this).data('idsrcyfall');
            let player = $(this).data('player');
            renderMenuContextualBattlefieldCard(id, idscryfall, player);
            menuContextualDisplay(e);
            e.preventDefault();
        });

        {# Menu contextuel de la library #}
        function renderMenuContextualLibrary(player){
            let result_hmtl = '';
            result_hmtl += '<a href="#" class="move-link" data-from="library" data-to="hand" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/faithtoken/card-draw.svg', 'Draw', 'CTRL+Enter');
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/look-at.svg', 'Look card', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="library-shuffle-link" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/card-exchange.svg', 'Shuffle', 'CTRL+S');
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-from="library" data-to="graveyard" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/card-burn.svg', 'Mills (put card to graveyard)', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-from="library" data-to="exile" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/knocked-out-stars.svg', 'Remove card from game', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/all-seeing-eye.svg', 'Reveal top card', null);
            result_hmtl += '</a>';
            $('#menu-contextual').html(result_hmtl);
        }

        {# Menu contextuel d'une carte de la main #}
        function renderMenuContextualHandCard(id, idscryfall, player){
            let result_hmtl = '';
            result_hmtl += '<a href="#" data-id="'+id+'" data-idscryfall="'+idscryfall+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/quoting/card-play.svg', 'Play card', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" data-id="'+id+'" data-idscryfall="'+idscryfall+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/quoting/card-pickup.svg', 'Play card face down', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" data-id="'+id+'" data-idscryfall="'+idscryfall+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/look-at.svg', 'Reveal this card', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-id="'+id+'" data-from="hand" data-to="graveyard" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/faithtoken/card-discard.svg', 'Discard this card', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="bottom-library-link" data-id="'+id+'" data-player="'+player+'" data-from="hand">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/bottom-right-3d-arrow.svg', 'Put card on bottom of library', null);
            result_hmtl += '</a>';
            $('#menu-contextual').html(result_hmtl);
        }

        {# Menu contextuel d'une carte du battlefield #}
        function renderMenuContextualBattlefieldCard(id, idscryfall, player){
            let result_hmtl = '';
            result_hmtl += '<a href="#" class="tapped-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/felbrigg/overhead.svg', 'Tap', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="untapped-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/felbrigg/underhand.svg', 'Untap', null);
            result_hmtl += '</a>';
            result_hmtl += '<hr>';
            result_hmtl += '<a href="#" class="move-link" data-id="'+id+'" data-from="battlefield" data-to="hand" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/hand.svg', 'Put card to hand', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-id="'+id+'" data-from="battlefield" data-to="library" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/spell-book.svg', 'Put card on top of library', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="bottom-library-link" data-id="'+id+'" data-player="'+player+'" data-from="battlefield">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/bottom-right-3d-arrow.svg', 'Put card on bottom of library', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-id="'+id+'" data-from="battlefield" data-to="graveyard" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/tombstone.svg', 'Put card to graveyard', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="move-link" data-id="'+id+'" data-from="battlefield" data-to="exile" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/knocked-out-stars.svg', 'Remove card from game', null);
            result_hmtl += '</a>';
            result_hmtl += '<hr>';
            result_hmtl += '<a href="#" class="counter-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/skoll/d10.svg', 'Set counters', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="power-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/swords-emblem.svg', 'Set creature Power/Thougness', null);
            result_hmtl += '</a>';
            result_hmtl += '<hr>';
            result_hmtl += '<a href="#" class="switch-controller-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/switch-weapon.svg', 'Switch controller', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="clone-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/lorc/relationship-bounds.svg', 'Clone', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="facedown-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/vertical-flip.svg', 'Flip card over', null);
            result_hmtl += '</a>';
            result_hmtl += '<a href="#" class="note-link" data-id="'+id+'" data-player="'+player+'">';
            result_hmtl +=      renderMenuContextualLink('/images/planeswalkers/game-icons-net/delapouite/archive-register.svg', 'Set a note', null);
            result_hmtl += '</a>';
            $('#menu-contextual').html(result_hmtl);
        }

    </script>
{% endmacro %}