{% macro script(game, player, hand) %}
    {% if game.playerActive is null %}
        <script>
            {# Impose la fenêtre pour démarrer la partie #}
            $('#starting-game-area').show();

            {# 1. Présentation des joueurs #}
            $('#starting-game-area').css({'background-image':'url(/images/planeswalkers/landscape-'+getRandomInt(10)+'.jpg)'});
            $('#starting-step-1').fadeIn(3000);
            $('#starting-step-1').fadeOut(995);
            setTimeout(function() {
                $('#starting-step-1').removeClass("d-flex");
            }, 4000);

            {# 2. Choix du joueur qui commence #}
            $('#starting-step-2').delay(4005).fadeIn(2000);

            {# 3. Main de départ #}
            let handJs = JSON.parse('{{ hand|raw }}');
            let results_html = "";
            $.each(handJs, function (index, gameCardHand) {
                let inclinaison = 7 * (index+1  - (handJs.length / 2));
                let translateX = 120 * (index+1 - (handJs.length / 2));
                let translateY = Math.abs(20 * (index+1 - (handJs.length / 2)));
                results_html += '<div class="start-hand-card" style="background-image:url('+gameCardHand.image+');transform:translate('+translateX+'px, '+translateY+'px) rotate('+inclinaison+'deg);"></div>';
            });
            $('#starting-game-hand').html(results_html);

            {# Intéraction en fonction des retours de Mercure #}
            function renderStartingReponse(retourMercure){
                {# todo "Your opponent is ready" #}
                {#$('#starting-game-opponent-message').html('<i class="fas fa-spinner fa-pulse"></i> Your opponent is choosing whether mulligan or keep 7 cards');#}

                if (retourMercure.egality === true){
                    $('.dice').css('pointer-events', 'auto');
                    $('#starting-game-roll-message').html('Egality! Dear planewalker, roll your die again.');
                }
                if (retourMercure.playerActive !== null){
                    $('#starting-step-2').fadeOut(1000);
                    $('#starting-step-3').fadeIn(1000);
                    if (retourMercure.playerActive === '{{ player.id }}'){
                        $('#starting-game-first-player').text("You play first");
                        $('#player-area').find('.avatar-area').addClass('pulse');
                        $('#opponent-area').find('.avatar-area').removeClass('pulse');
                    }else{
                        $('#starting-game-first-player').text("Opponent goes first");
                        $('#opponent-area').find('.avatar-area').addClass('pulse');
                        $('#player-area').find('.avatar-area').removeClass('pulse');
                    }
                }else{
                    $('#starting-game-roll-message').html('<i class="fas fa-spinner fa-pulse"></i> Your opponent is not ready');
                }
            }

            $('#starting-game-mulligan').on('click', function() {

            });

            $('#starting-game-keep').on('click', function() {
                window.location.href='{{ path('planeswalkers.play.game.fight', { id : game.id }) }}';
            });
        </script>
    {% endif %}
{% endmacro %}