{% import 'macro/avatar.html.twig' as avatar %}
{% extends 'game.html.twig' %}

{% block title "Games" %}

{% block body %}

    {# Opponent area #}
    <div class="row-library-hand">
        <div class="exile" style="background:silver;">
            exile opponent
        </div>
        <div class="graveyard" style="background:black;">
            graveyard opponent
        </div>
        <div class="library" style="background:blue;">
            library opponent
        </div>
        <div class="hand" style="background:green;">
            hand opponent
        </div>
    </div>
    <div class="row-zone-battlefield">
        <div class="battlefield" style="background:yellow;">
            {{ avatar.afficher(opponent.user) }} {{ opponent.user }}
        </div>
    </div>

    {# Allies area #}
    <div class="row-zone-battlefield">
        <div class="battlefield" style="background:green;">
            {{ avatar.afficher(player.user) }} {{ player.user }}
        </div>
    </div>
    <div class="row-library-hand">
        <div class="exile" style="background:silver;">
            exile opponent
        </div>
        <div class="graveyard" style="background:black;">
            graveyard opponent
        </div>
        <div class="library" style="background:blue;">
            library opponent
        </div>
        <div class="hand" style="background:yellow;">
            hand allies
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}