{# Draw #}
{% macro script(game, ajaxUrl) %}
    <script>
        {# Lorque le joueur pioche une carte en double cliquant sur la bibliothèque #}
        $("body").on('dblclick', '.library', function(e) {
            let player_area = $(this).closest('.player-area');
            let player = player_area.data('player');
            let parametres = {
                game: {{ game.id }},
                player: player,
                quantity: 1,
            };
            $.ajax({
                url: "{{ ajaxUrl }}",
                type: 'post',
                data: parametres,
                dataType: 'json'
            });
        });

        {# Mise à jour du jeu lors d'une pioche #}
        function updateGameAfterDraw(retourMercure){
            let player_area = $('.player-area-' + retourMercure.player);
            // Mise à jour du nombre de carte dans la library
            player_area.find('.library-top-card').text(retourMercure.library.count);
            // Mise à jour de la main
            player_area.find('.hand').html(""); // nettoyage
            player_area.find('.hand').html(renderHand(retourMercure)); // ajout des cartes piochées
        }

        {# Rendu de la main #}
        function renderHand(retourMercure){
            let results_html = "";
            $.each(retourMercure.gameCardsHand, function (index, gameCardHand) {
                results_html += '<a href="#" class="hand-card-link" data-toggle="modal" data-target="#cardDetailsModal" data-idsrcyfall="'+gameCardHand.idScryfall+'">';
                results_html +=     '<div class="hand-card" style="background-image:url('+gameCardHand.imageUrisPng+');">';
                results_html +=     '</div>';
                results_html += '</a>';
            })
            return results_html;
        }
    </script>
{% endmacro %}