{# Draw : le joueur pioche une carte depuis sa bibliothèque (library) vers sa main (hand) #}
{% macro script(game, ajaxUrl) %}
    <script>
        {# Lorque le joueur pioche une carte en double cliquant sur la bibliothèque #}
        $("body").on('dblclick', '.library', function(e) {
            let player = $(this).closest('.player-area').data('player');
            launchMove(player);
        });

        {# Lorsque le joueur utilise le raccourci clavier D #}
        $('body').bind('keypress', function(e) {
            if(e.keyCode==100){
                let player = $('#player-area').data('player');
                launchMove(player);
            }
        });

        {# Mise à jour du jeu après la pioche #}
        function updateGameAfterDraw(retourMercure){
            let player_area = $('.player-area-' + retourMercure.player);
            // Mise à jour du nombre de carte dans la library
            player_area.find('.library-top-card').text(retourMercure.library.count);
            // Mise à jour de la main
            player_area.find('.hand').html(""); // nettoyage
            player_area.find('.hand').html(renderHand(retourMercure)); // ajout des cartes piochées
        }

        {# Rendu d'une main #}
        function renderHand(retourMercure){
            let results_html = "";
            $.each(retourMercure.hand.cards, function (index, gameCardHand) {
                results_html += '<a href="#" class="hand-card-link" data-area="hand" draggable="true" data-toggle="modal" data-target="#cardDetailsModal" data-player="'+retourMercure.player+'" data-id="'+gameCardHand.id+'" data-idsrcyfall="'+gameCardHand.idScryfall+'">';
                results_html +=     '<div class="hand-card" style="background-image:url('+gameCardHand.imageUrisPng+');">';
                results_html +=     '</div>';
                results_html += '</a>';
            })
            return results_html;
        }
    </script>
{% endmacro %}