{% macro script() %}
    <script>
        function renderBattlefield(retourMercure, player_area){
            let results_html = "";
            $.each(retourMercure.battlefield.cards, function (index, gameCardBattlefield) {
                
                let offsetX = gameCardBattlefield.offsetX * 100;
                let offsetY = gameCardBattlefield.offsetY * 100;

                results_html += '<a href="#" ' +
                    'class="battlefield-card-link" ' +
                    'draggable="true" ' +
                    'data-area="battlefield" ' +
                    'data-toggle="modal" ' +
                    'data-target="#cardDetailsModal" ' +
                    'data-player="'+retourMercure.player+'" ' +
                    'data-id="'+gameCardBattlefield.id+'" ' +
                    'data-idsrcyfall="'+gameCardBattlefield.idScryfall+'">';
                results_html +=     '<div ' +
                    'class="battlefield-card" ' +
                    'style="background-image:url('+gameCardBattlefield.imageUrisPng+');left:'+offsetX+'px;top:'+offsetY+'px;">';
                results_html +=     '</div>';
                results_html += '</a>';
            })
            player_area.find('.battlefield').html(results_html);
        }
    </script>
{% endmacro %}