{% macro script() %}
    <script>
        function renderBattlefield(datas, player_area){
            let results_html = "";
            $.each(datas.battlefield.cards, function (index, gameCardBattlefield) {

                let offsetX = gameCardBattlefield.offsetX * grid;
                let offsetY = gameCardBattlefield.offsetY * grid;
                let tapped  = '';
                if (gameCardBattlefield.tapped === true){
                    tapped = 'tapped';
                }

                results_html += '<a href="#" ' +
                    'id="battlefield-card-'+gameCardBattlefield.id+'" ' +
                    'class="battlefield-card-link '+tapped+'" ' +
                    'draggable="true" ' +
                    'data-area="battlefield" ' +
                    'data-toggle="modal" ' +
                    'data-target="#cardDetailsModal" ' +
                    'data-player="'+datas.player+'" ' +
                    'data-id="'+gameCardBattlefield.id+'" ' +
                    'data-idsrcyfall="'+gameCardBattlefield.idScryfall+'">';
                results_html +=     '<div ' +
                    'class="battlefield-card" ' +
                    'style="background-image:url('+gameCardBattlefield.imageUrisPng+');left:'+offsetX+'px;top:'+offsetY+'px;">';
                results_html +=     '</div>';
                results_html += '</a>';
            })
            player_area.find('.battlefield').html(results_html);
        }
    </script>
{% endmacro %}