{% macro script() %}
    <script>
        function renderBattlefield(datas, player_area){
            let results_html = "";
            $.each(datas.battlefield.cards, function (index, gameCardBattlefield) {

                {# Coordonnées #}
                let offsetX = gameCardBattlefield.offsetX * grid;
                let offsetY = gameCardBattlefield.offsetY * grid;

                {# Background #}
                let background = gameCardBattlefield.imageUrisArtCrop;

                {# Tapped #}
                let tapped  = '';
                if (gameCardBattlefield.tapped === true){
                    tapped = ' tapped';
                }

                {# FaceDown #}
                let faceDown  = '';
                if (gameCardBattlefield.faceDown === true){
                    faceDown = ' faceDown';
                    background = '/images/planeswalkers/mtg_card_back.jpg';
                }

                {# Counter #}
                let counter = '';
                if (gameCardBattlefield.counter !== null){
                    counter = '<div class="counter">'+gameCardBattlefield.counter+'</div>';
                }

                {# Power/Toughness #}
                let power = '';
                if (gameCardBattlefield.power !== null || gameCardBattlefield.toughness !== null){
                    power  = '<div class="power">';
                    power +=    '<div class="power-picto"></div>';
                    power +=    '<span class="power-value">'+gameCardBattlefield.power+'</span>';
                    power +=    ' / ';
                    power +=    '<div class="toughness-picto"></div>';
                    power +=    '<span class="toughness-value">'+gameCardBattlefield.toughness+'</span>';
                    power += '</div>';
                }

                {# Note #}
                let note = '';
                if (gameCardBattlefield.note !== null){
                    note = '<div class="note">'+gameCardBattlefield.note+'</div>';
                }

                results_html += '<a href="#" ' +
                    'id="battlefield-card-'+gameCardBattlefield.id+'" ' +
                    'class="battlefield-card-link'+tapped+faceDown+'" ' +
                    'draggable="true" ' +
                    'data-area="battlefield" ' +
                    'data-player="'+datas.player+'" ' +
                    'data-id="'+gameCardBattlefield.id+'" ' +
                    'data-idsrcyfall="'+gameCardBattlefield.idScryfall+'">';
                results_html +=     '<div ' +
                    'class="battlefield-card" ' +
                    'style="background-image:url('+background+');left:'+offsetX+'px;top:'+offsetY+'px;">';
                results_html +=         '<div class="card-name">'+cardSymbol(gameCardBattlefield.name)+'</div>';
                results_html +=         counter;
                results_html +=         power;
                results_html +=         note;
                results_html +=     '</div>';
                results_html += '</a>';
            })
            player_area.find('.battlefield').html(results_html);
        }
    </script>
{% endmacro %}