{% macro script() %}
    <script>
        function renderGameCardBattlefield(datas){
            let cardHtml = $('#battlefield-card-'+datas.gameCardBattlefield.id);

            {# Tapped #}
            if (datas.gameCardBattlefield.tapped === true){
                cardHtml.addClass('tapped');
            }else{
                cardHtml.removeClass('tapped');
            }

            {# FaceDown #}
            if (datas.gameCardBattlefield.faceDown === true){
                cardHtml.addClass('faceDown');
                cardHtml.find('.battlefield-card').css({'background-image':'url("/images/planeswalkers/mtg_card_back.jpg")'});
            }else{
                cardHtml.removeClass('faceDown');
                cardHtml.find('.battlefield-card').css({'background-image':'url("'+datas.gameCardBattlefield.imageUrisPng+'")'});
            }

            {# Note #}
            let note = '';
            cardHtml.find('.note').remove();
            if (datas.gameCardBattlefield.note !== null){
                note = '<div class="note">'+datas.gameCardBattlefield.note+'</div>';
                cardHtml.find('.battlefield-card').append(note);
            }

        }

        function addGameCardBattlefield(datas, player_area, player){
            let results_html = "";

            {# Coordonnées #}
            let offsetX = datas.offsetX * grid;
            let offsetY = datas.offsetY * grid;

            {# Background #}
            let background = datas.imageUrisPng;

            {# Tapped #}
            let tapped  = '';
            if (datas.tapped === true){
                tapped = ' tapped';
            }

            {# FaceDown #}
            let faceDown  = '';
            if (datas.faceDown === true){
                faceDown = ' faceDown';
                background = '/images/planeswalkers/mtg_card_back.jpg';
            }

            {# Note #}
            let note = '';
            if (datas.note !== null){
                note = '<div class="note">'+datas.note+'</div>'
            }

            results_html += '<a href="#" ' +
                'id="battlefield-card-'+datas.id+'" ' +
                'class="battlefield-card-link'+tapped+faceDown+'" ' +
                'draggable="true" ' +
                'data-area="battlefield" ' +
                'data-player="'+player+'" ' +
                'data-id="'+datas.id+'" ' +
                'data-idsrcyfall="'+datas.idScryfall+'">';
            results_html +=     '<div ' +
                'class="battlefield-card" ' +
                'style="background-image:url('+background+');left:'+offsetX+'px;top:'+offsetY+'px;">';
            results_html +=         note;
            results_html +=     '</div>';
            results_html += '</a>';
            player_area.find('.battlefield').append(results_html);
        }

        function cloneGameCardBattlefield(datas, player_area){
            addGameCardBattlefield(datas.gameCardBattlefield, player_area, datas.player);
        }
    </script>
{% endmacro %}