{% macro afficher() %}
    <a href="#" class="hand-card-link" data-toggle="modal" data-target="#cardDetailsModal" data-idsrcyfall="{{ cardHand.card.idScryfall }}">
        <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisSmall }}');">

        </div>
    </a>
{% endmacro %}