{% extends 'admin.html.twig' %}

{% block title "Artists" %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200">Artists</h1>
    </div>

    <hr>

    <div class="row">
        {% for artist in artists %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{{ path('planeswalkers.artist.show', {artist: artist|slugify, name: artist } ) }}" class="text-center">
                            {{ artist }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="navigation">
        {{ knp_pagination_render(artists) }}
    </div>

{% endblock %}