{% extends 'front.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block entete %}
    <h1>Page non trouvée</h1>
{% endblock %}

{% block body %}

    <p>La page que vous avez demandé n'existe pas (ou plus).</p>

{% endblock %}