{% macro afficher(user) %}

    {% set url_avatar = null %}
    {% set userId = (user.heidiId is defined) ? user.heidiId : user.id  %}
    {% set url_avatar =  asset('images/unknown-user.png') %}

    {% if user.avatar is not null %}
        {% set url_avatar = url_uploads_heidi ~ 'tierces/' ~ user.avatar %}
    {% endif %}

    <div class="avatar" style="background-image:url({{ url_avatar }})" title="{{ user }}"></div>

{% endmacro%}

{% macro script() %}
    <script>
        function renderAvatar (userJs){
            let url_avatar = '{{ url_uploads_heidi }}' + 'tierces/' + userJs.avatar;
            return '<div class="avatar" style="background-image:url('+url_avatar+')"></div>';
        }
    </script>
{% endmacro%}